GRUPO_FILIACAO=seu_grupo_aqui
GRUPO_CADASTRO=seu_grupo_aqui
GRUPO_CARTEIRINHA=seu_grupo_aqui
GRUPO_CLUBE=seu_grupo_aqui
GRUPO_HOSPEDAGEM=seu_grupo_aqui
GRUPO_JURIDICO=seu_grupo_aqui
GRUPO_PALMAS=seu_grupo_aqui
GRUPO_FINANCEIRO=seu_grupo_aqui
GRUPO_COMUNICACAO=seu_grupo_aqui
GRUPO_GERAL=seu_grupo_aqui
